<!--BODY--->
<div style="max-width: 660px; margin: 0 auto;">
        <div style="background-color: #ffffff;">
            <div style="padding: 12px 24px;">
                <div style="width: 100%;">
                    <h1 style="font-size: 20px; line-height: 1.5; margin: 0; padding: 0;">¡Hola {{name}}! </h1>
                    <hr/>
                    <p style="font-size: 16px; line-height: 1.5; margin: 0; padding: 0;">El certificado de calibración del <b><span style="color: #326699;">{{instrumentType}}</span></b> N/S: {{serialNumber}} se encuentra a 30 días de vencer.
                    <br/>
                    <br/>
                    <p style="font-size: 16px; line-height: 1.5; margin: 0; padding: 0;">Estaremos esperando tu contacto para coordinar la calibración.
                    <br/>
                </div>
            </div>
            <div style="padding: 12px 24px;" align="center" valign="top">
                <div style="background-color: #326699; border-radius: 8px; text-align: center;max-width: min-content;">
                    <a href="{{url}}" target="_blank" style="display: inline-block; font-size: 16px; color: #ffffff; background-color: #326699; border-radius: 0.375rem; text-decoration: none; padding: 11px 46px; min-width: 30px; text-transform: uppercase;">Login</a>
                </div>
            </div>
        </div>
    </div>
<!--/BODY--->