<!--BODY--->
<div style="max-width: 660px; margin: 0 auto;">
        <div style="background-color: #ffffff;">
            <div style="padding: 12px 24px;">
                <div style="width: 100%;">
                    <h1 style="font-size: 20px; line-height: 1.5; margin: 0; padding: 0;">¡Hola {{name}}! Te hemos creado una cuenta en ITM Calibraciones App </h1>
                    <hr/>
                    <p style="font-size: 16px; line-height: 1.5; margin: 0; padding: 0;">Desde aquí vas a poder acceder a los certificados de calibración de tus equipos en ITM, ver informes técnicos y administar todos tus equipos para saber en que situación se encuentra cada uno. Para iniciar sesión usa la cuenta de email donde recibiste este correo.
                    <br/>
                    La contraseña temporal es: <b><span style="color: #326699;">{{password}}</span></b>
                    <br/>
                    <p style="font-size: 16px; line-height: 1.5; margin: 0; padding: 0;">Para ingresar, tenés que entrar a app.itmcalibraciones.com</p>
                    <br/>
                    <p style="font-size: 16px; line-height: 1.5; margin: 0; padding: 0;">Luego de iniciar sesión puedes cambiarla por una a tu gusto desde tu perfil de usuario.
En caso de tener alguna duda, escribinos a itmcalibraciones@itmcalibraciones.com</p>
                </div>
            </div>
            <div style="padding: 12px 24px;" align="center" valign="top">
                <div style="background-color: #326699; border-radius: 8px; text-align: center;max-width: min-content;">
                    <a href="{{url}}" target="_blank" style="display: inline-block; font-size: 16px; color: #ffffff; background-color: #326699; border-radius: 0.375rem; text-decoration: none; padding: 11px 46px; min-width: 30px; text-transform: uppercase;">Login</a>
                </div>
            </div>
        </div>
    </div>
<!--/BODY--->