<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Header</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }

    .header {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .logo {
      width: 250px;
      height: 100px;
      margin-right: 20px;
    }
    
    .logo > img {
        width: 100%;
    }

    .title {
      font-size: 14px;
      line-height: 5px;
      float: right;
    }

    .content{
        margin: auto;
    }

   
  </style>
</head>
<body>
  <div class="header">
    <div class="logo">
        <img src="https://i.ibb.co/f27J773/Itm-logo-2936d8fb.png">
    </div>
    <div class="content">
      <div class="title">
        <p>Almafuerte 357 (8000) Bahía Blanca.</p>   
        <p>Buenos Aires. Argentina</p>
        <p>Tel/FAX: (0291) 453-3568 / 4007623</p>
        <p>itmcalibraciones@itmcalibraciones.com</p>
        <p>www.itmcalibraciones.com</p>
        </div>
    </div>
  </div>
  <hr/>
  <div>
    <center><h1>Informe técnico</h1></center>
</div>
</body>
</html>